.adminPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.adminPage > svg{
    display: block;
    position: absolute;
    top: 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

.adminActions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.adminActions > .addNewUser,.fineUser{
    min-width: 12rem;
    min-height: 12rem;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(7,0,32);
    background-color: #f2f0fb;
}

/* .addNewUser{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
} */



.fineUser{
    font-weight: 700;
    font-size: 4rem;
}

.fineUser > span{
    width: 100% !important;
    text-align: center;
}

.adminActions > *:hover{
    transition: all 0.08s; 
    transform: scale(1.1);
    cursor: pointer;
}


.textfields{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.calculateBtn{
    color:white !important;
    font-size:1rem !important;
    background-color:rgb(7 0 32) !important;
    margin: 12px !important;
}




@media only screen and (max-width: 640px) {

    .adminPage{
        font-size: 2rem !important;
    }

    .adminActions > .addNewUser,.fineUser{
        min-width: 11rem;
        min-height: 11rem;
    }

    .calculateBtn{
        font-size: 0.6rem !important;
    }

  }