@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.moneyContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moneyContainer > h1{
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}
    


