.fine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 600px;
}

.selectIntern{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selectIntern > Button{
    margin: 20px;
}