.blink2 {
  animation: blink-animation 4s steps(5, start);
  -webkit-animation: blink-animation 2s steps(2, start);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
