 li.Mui-selected{
    color: white;
    background: rgb(7 0 32) !important;
}

.MinimalSelect-select-1{
    color: rgb(7 0 32) !important;
}

.MinimalSelect-select-5{
    color: rgb(7 0 32) !important;
}