.userDetails{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userDetials__personalInfo{
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.MuiCardContent-root{
    background-color: rgb(7 0 32);
    color: white;
}

.makeStyles-heading-201{
    color: white;
}

.userDetails__fineTable{
    margin: 20px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}